@import "../../styles/Responsive.scss";
@import "../../styles/Variables.scss";

.countries {
  padding-inline: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  background: $Very-Light-Gray-LMBG;
  transition: .3s;


  &.dark{
    background: $Very-Dark-Blue-DMBG;


    section{
        background: $Dark-Blue-DME;
    }

    a{
        color: $White;
      }
  } 

  section {
    width: 260px;
    background: $White;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $Very-Dark-Blue-DMBG;
    transition: .3s;

    &:hover{
        transform: translateY(-5px);
    }

    a{
        color: $Very-Dark-Blue-DMBG;
        transition: .3s;

        img {
            width: 100%;
            height: 155px;
          }
      
          div {
            padding: 1rem 2rem;
      
            h2{
              font-size: 1.1rem;
              margin-bottom: 1rem;
            }
      
            h3{
              font-size: .9rem;
              margin-bottom: 0.3rem;
      
              span{
                  font-weight: normal;
              }
            }
      
          }
      }

 
  }
}
