@import "../../styles/Responsive.scss";
@import "../../styles/Variables.scss";

.countries {
  padding-inline: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  transition: .3s;
  min-height: 100vh;
  padding-bottom: 3rem;

  @include Mobile{
    grid-template-columns: repeat(1, 1fr);
  }
  


  &.dark{
    background: $Very-Dark-Blue-DMBG;


    section{
        background: $Dark-Blue-DME;
    }

    a{
        color: $White;
      }
  } 

  section {
    width: 300px;
    background: $White;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $Very-Dark-Blue-DMBG;
    transition: .3s;
    height: fit-content;

    @include Mobile{
      width: 100%;
    }
    


    &:hover{
        transform: translateY(-5px);
    }

    a{
        color: $Very-Dark-Blue-DMBG;
        transition: .3s;

        img {
            width: 100%;
            height: 155px;

            @include Mobile{
              height: 200px;
            }
            
            
          }
      
          div {
            padding: 1rem 2rem;
      
            h2{
              font-size: 1.1rem;
              margin-bottom: 1rem;
            }
      
            h3{
              font-size: .9rem;
              margin-bottom: 0.3rem;
      
              span{
                  font-weight: normal;
              }
            }
      
          }
      }

 
  }
}
