@import "../../styles/Responsive.scss";
@import "../../styles/Variables.scss";

.searchAndFilter {
  padding-inline: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-block: 3rem;
  transition: 0.3s;
  background: $White;

  @include Mobile{
    flex-direction: column;
    gap: 2rem;
  }
  

  &.dark {
    background: $Very-Dark-Blue-DMBG;
    color: $White;

    .form {
      background: $Dark-Blue-DME;

      button {
        .icon {
          color: $White;
        }
      }

      input {
        width: 100%;
        color: $White;


        &::placeholder {
          color: $White;
        }
      }
    }

    .filterWrapper {
      .down {
        color: $White;
      }
      .filterHeader {
        background: $Dark-Blue-DME;
        color: $White;
        width: 100%;

        
      }

      .regions {
        background: $Dark-Blue-DME;
      }
    }
  }

  .form {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: $White;
    padding: 1.2rem;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;

    @include Mobile{
      width: 100%;
    }

    button {
      .icon {
        color: $Dark-Gray-LMI;
        font-size: 16px;
        transition: 0.3s;
      }
    }

    input {
      width: 100%;

      &::placeholder {
        color: $Dark-Gray-LMI;
        transition: 0.3s;
      }

      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }
  }

  .filterWrapper {
    display: flex;
    gap: 0.2rem;
    transition: 0.3s;
    width: 200px;
    position: relative;

    select {
      width: 100%;
      background: $White;
      padding: 1rem 1.2rem;
      gap: 1rem;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      font-size: 14px;
      appearance: none;
      color: $Very-Dark-Blue-LMT;
      transition: .3s;

      option{
        background: #000;
        color: red;
      }

    }


    .down {
      font-size: 12px;
      transition: 0.3s;
      position: absolute;
      color: red;
      right: 1rem;
      font-size: 14px;
      top: 50%;
      transform: translateY(-50%);
      color: $Very-Dark-Blue-LMT;

    }
  }
}
