$Dark-Blue-DME : hsl(209, 23%, 22%);
$Very-Dark-Blue-DMBG : hsl(207, 26%, 17%);
$Very-Dark-Blue-LMT : hsl(200, 15%, 8%);
$Dark-Gray-LMI: hsl(0, 0%, 52%);
$Very-Light-Gray-LMBG: hsl(0, 0%, 98%);
$White : hsl(0, 0%, 100%);