@import '../../styles/Responsive.scss';
@import '../../styles/Variables.scss';

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
    background: $White;
    padding-block: 1.3rem;
    color: $Very-Dark-Blue-DMBG ;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: .3s;
    

    &.dark{
        background: $Dark-Blue-DME ;
        color: $White;
    }

    h1{
        font-size: 1.5rem;
    }

    .displayMode{
        display: flex;
        align-items: center;
        gap: .3rem;
        cursor: pointer;


        img{
            width: 20px;;
        }
        p{
            font-weight: 600;
            font-size: 15px;;
            transition: .3s;
        }
    }
}