@import "../../styles/Responsive.scss";
@import "../../styles/Variables.scss";

.country{
    padding-inline: 5%;
    padding-top: 6%;
    background: $White;
    transition: .3s;
    height: 100vh;
    color: $Very-Dark-Blue-LMT;

    @include Mobile{
        padding-bottom: 2rem;
        height: 100%;
      }
      

    &.dark{
         background: $Very-Dark-Blue-DMBG;
         color: $White;

         a{
            color: $White;
            background: $Dark-Blue-DME;
        }

        .borderCountries{

            .borders{

                li{
                    background: $Dark-Blue-DME;
                }
            }

        }
    }

  
    a{
        color: $Very-Dark-Blue-LMT;
        transition: .3s;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        padding: .7rem 2rem;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 7%;

        @include Mobile{
            padding: 0.5rem 1rem;
            font-size: 10px;
          }


       
        .icon{
            font-size: 15px;
            margin-right: .5rem;


        @include Mobile{
            font-size: 11px;
            margin-right: .3rem;       
          }

        }  
    
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 125px;

        @include Mobile{
            flex-direction: column;
            gap: 2rem;
          }


        .flag{
            width: 100%;

            img{
                width: 555px;
                height: 400px;
                
                opacity: 0;
                animation: fadeInLeft 1s 1s forwards;

                @include Mobile{
                    width: 100%;
                    height: 200px;
                  }
        
            }
        }

        .details{
            width: 100%;

            opacity: 0;
            animation: fadeIn 2s 1.2s forwards;

            p{
                font-weight: 600;
            }

            h1{
                margin-bottom: 2rem;

                @include Mobile{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                  }
                
            }

            .row{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                @include Mobile{
                    flex-direction: column;
                  }

                p{
                    margin-bottom: .8rem;

                    @include Mobile{
                        font-size: 14px;
                      }
    

                    span{
                        font-weight: normal;

                        @include Mobile{
                            font-size: 13px;
                          }
                    }
                }

                .right{
                    .languages{
                        display: flex;
                        gap: 0.5rem;

                        span{
                            margin-right: 0.5rem;

                            @include Mobile{
                                font-size: 13px;
                              }
                              
                        }
                    }
                }

            }

            .borderCountries{
                margin-top: 4rem;
                display: flex;
                align-items: center;
                gap: 0.6rem;

                @include Mobile{
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 1rem;
                    font-size: 14px;
                  }
                  

                .borders{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    flex-wrap: wrap;

                   
                    li{
                        font-weight: 200;
                        padding: .5rem 1rem;
                        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
                        margin-right: 0.5rem;
                        font-size: 12px;
                        border-radius: 3px;
                        transition: .3s;
                        background: $White;

                        &.dark{
                            background: $Dark-Blue-DME;
                        }
                    }
                }

            }
        }
    }
}